body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

input,select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background: green;
}
